<div class="container">

    <div id="form-container">


        <form action="/reg_numbers" method="POST">
            <div class="topRow">
                <h1>Registration Vehicle App!!</h1>
            </div>
            <div class="examples">
                <h2>e.g CY 123-456 | CA 345-673 | CL 876-895 </h2>
            </div>

            <div class="bottomRow">
              
                <input type="text" name="name" value="" placeholder="enter a registration..." class="inputText"
                    id="registration">

                <button class="button-primary Addbtn" type="submit" name="button">Add Registrations</button>

            </div>
            <br>


        </form>

        <br />

        <form action="/reg_numbers" method="GET">
            <br>
            <br>


            <h3>Select a Town:</h3>
            <div class="selectTown">
                <select name="towns">
                    <option value="All">All Towns</option>
                    <option value="1">Bellville</option>
                    <option value="2">Cape Town</option>
                    <option value="3">Stellenbosch</option>
                </select>

                <input type="submit" value="Filter" class="button-primary filter" style="">
                <a href="/clear">Reset</a>

            </div>
        </form>
    </div>

    <hr>
  <div class="errors">
                    <p>{{messages.error}}</p>
                </div>
                <div class="success">
                    <p>{{messages.success}}</p>
                </div>
    <div>
        <ul>
            {{#each reg_number}}
            <li class="displayHere">{{reg_number}}
            </li>
            {{/each}}
        </ul>
    </div>




</div>